.movie {
  display: flex;
  cursor: pointer;
}

.movie.selected {
  outline: 2px solid red;
}

.movie .movie-poster {
  width: 20%;
}

.movie .movie-info {
  padding: 5px;
  width: 80%;
}


.movie .movie-poster img {
  width: 100%;
}

.movie .genres {
  display: flex;
}

.movie .genres>div {
  border: 1px solid;
  padding: 4px 10px;
  border-radius: 16px;
  margin-right: 8px;
}